<odoo>
	<data noupdate='0'>
		<record id='missed_mails_action' model='ir.actions.act_window'>
			<field name='name'>Missing Mails</field>
			<field name='res_model'>mail.missed.fetch</field>
			<field name='view_mode'>tree,form</field>
			<field name="help">
				<![CDATA[<p> No  found!  </p>]]>
			</field>
		</record>
		<menuitem parent="base.menu_email" id="menu_missed_mails" action="missed_mails_action"/>
	</data>
</odoo>